<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gym Sesh</title>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--Lodash-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- VueJS-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .not-allowed{
            cursor: not-allowed;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div id="app" v-cloak>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Gym Sesh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="exercises.html">Exercise</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" v-if="!selectedExercise || !validExercise">
            <div class="col-12 mt-2">
                <a class="btn btn-primary w-100" href="index.html">
                    Select an exercise before continuing
                </a>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-12 mt-2">
                <div class="clearfix text-center">
                    <button type="button"
                            class="btn btn-secondary float-left"
                            :disabled="currentExerciseIndex - 1 < 0"
                            @click="currentExerciseIndex -= 1">
                        <i class="fas fa-backward"></i>
                    </button>
                    <span class="font-weight-bold align-text-top">
                        {{selectedExercise[currentExerciseIndex].name}} ({{currentExerciseIndex + 1}}/{{selectedExercise.length}})
                    </span>
                    <button type="button"
                            class="btn btn-secondary float-right"
                            :disabled="currentExerciseIndex + 1 >= selectedExercise.length || !allSetsComplete"
                            @click="currentExerciseIndex += 1">
                        <i class="fas fa-forward"></i>
                    </button>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0 text-center">
                            <thead>
                            <tr class="table-secondary">
                                <th scope="col">Set #</th>
                                <th scope="col">Reps</th>
                                <th scope="col">Weight</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(row, index) in selectedExercise[currentExerciseIndex].table"
                                :class="{'table-success': row.complete, 'not-allowed': !clickable(index)}"
                                @click="completeSet(index)">
                                <th scope="row">{{row.set}}</th>
                                <th>{{row.reps}}</th>
                                <th>{{row.weight}} lbs</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            user: {
                preferences: {
                    gender: 'Male',
                    age: '18 - 30',
                    focus_area: 'Strength Training',
                    current_strength: 'Average'
                }
            },
            currentExerciseIndex: 0,
            exercises: {
                back_biceps: [
                    {
                        name: 'Lat pull down',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 85,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 95,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 105,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Dumbbell hammer curls',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 25,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 30,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 35,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Lawn Mowers',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 35,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 40,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 45,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Standing cable curls',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 25,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 30,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 35,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Shrugs',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 135,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 140,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 145,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Barbell preacher curls',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 50,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 55,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 8,
                                weight: 60,
                                complete: false
                            }
                        ]
                    }
                ],
                chest_triceps: [
                {
                        name: 'Flat dumbbell chest presses',
                        table: [
                            {
                                set: 1,
                                reps: 8,
                                weight: 10,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 10,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 10,
                                complete: false
                            },
                            {
                                set: 4,
                                reps: 14,
                                weight: 10,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Incline dumbbell bench press',
                        table: [
                            {
                                set: 1,
                                reps: 8,
                                weight: 70,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 80,
                                weight: 60,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 90,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Dips and cable crossovers superset',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 50,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 12,
                                weight: 55,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 60,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Dumbbell skull crushers',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 50,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 12,
                                weight: 55,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 60,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Triceps rope pushdown',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 50,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 12,
                                weight: 55,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 60,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'TRX triceps extension',
                        table: [
                            {
                                set: 1,
                                reps: 12,
                                weight: 50,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 12,
                                weight: 55,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 60,
                                complete: false
                            }
                        ]
                    },
                ],
                legs_shoulders: [
                                {
                        name: 'Barbell Deadlift',
                        table: [
                            {
                                set: 1,
                                reps: 4,
                                weight: 35,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 5,
                                weight: 40,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 6,
                                weight: 45,
                                complete: false
                            },
                            {
                                set: 4,
                                reps: 7,
                                weight: 50,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Dumbbell Rear Lunge',
                        table: [
                            {
                                set: 1,
                                reps: 11,
                                weight: 20,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 12,
                                weight: 30,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 13,
                                weight: 40,
                                complete: false
                            },
                            {
                                set: 4,
                                reps: 14,
                                weight: 45,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Hack Squat',
                        table: [
                            {
                                set: 1,
                                reps: 10,
                                weight: 35,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 11,
                                weight: 40,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 45,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Seated Leg Curl',
                        table: [
                            {
                                set: 1,
                                reps: 10,
                                weight: 35,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 11,
                                weight: 40,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 12,
                                weight: 45,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Leg Extensions',
                        table: [
                            {
                                set: 1,
                                reps: 15,
                                weight: 160,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 15,
                                weight: 165,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 15,
                                weight: 170,
                                complete: false
                            }
                        ]
                    },
                    {
                        name: 'Seated Calf Raise',
                        table: [
                            {
                                set: 1,
                                reps: 5,
                                weight: 510,
                                complete: false
                            },
                            {
                                set: 2,
                                reps: 10,
                                weight: 520,
                                complete: false
                            },
                            {
                                set: 3,
                                reps: 15,
                                weight: 530,
                                complete: false
                            },
                            {
                                set: 4,
                                reps: 25,
                                weight: 540,
                                complete: false
                            }
                        ]
                    }
                ]
            }
        },
        watch: {
            exercises: {
                handler: function () {
                    if (!this.selectedExercise) {
                        return null
                    }

                    let tables = _.flatten(this.selectedExercise.map(exercise => exercise.table))

                    let allExercisesComplete = tables.reduce((sum, next) => sum && next.complete, true)

                    if (allExercisesComplete) {
                        window.location.href = 'congrats.html'
                    }
                },
                deep: true
            }
        },
        computed: {
            workoutType() {
                return this.getQueryString('exercise')
            },
            selectedExercise() {
                if (!this.workoutType) {
                    return null
                }

                return this.exercises[this.workoutType]
            },
            validExercise() {
                return !!this.exercises[this.workoutType]
            },
            allSetsComplete(){
                let table = this.selectedExercise[this.currentExerciseIndex].table
                return table.reduce((sum, next) => sum && next.complete, true)
            }
        },
        methods: {
            completeSet(index) {
                if(this.clickable(index)){
                    let table = this.selectedExercise[this.currentExerciseIndex].table

                    // Update completeness for this set
                    table[index].complete = !table[index].complete

                    // Check if all sets are marked complete
                    let exerciseCompleted = this.allSetsComplete

                    // Automatically moves to the next exercises when all sets are finished
                    if (exerciseCompleted && this.currentExerciseIndex + 1 < this.selectedExercise.length) {
                        this.currentExerciseIndex += 1
                    }
                }
            },
            getQueryString(string) {
                const urlParams = new URLSearchParams(window.location.search)

                return urlParams.get(string)
            },
            clickable(index){
                let table = this.selectedExercise[this.currentExerciseIndex].table
                
                // Check if the previous rep is not completed or if the next rep is completed
                if((table[index -1] && !table[index -1].complete) || (table[index +1] && table[index + 1].complete)){
                    return false
                }

                return true
            }
        }
    })
</script>

<style>
</style>
</html>
